* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  background: rgba(121, 106, 238, 0.9);
}
.content {
  // 折叠
  &.content-collapse {
    .el-tabs__header {
      left: 64px;
    }
  }
}
.el-tabs__header {
  position: fixed;
  left: 250px;
  top: 50px;
  right: 0;
  padding: 0 55px 0 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  z-index: 9999;
}
.site-tabs__tools {
  position: fixed;
  right: 0;
  top: 50px;
  background-color: #f1f4f5;
  z-index: 99999;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 15px;
}
.el-tabs__nav-wrap {
  margin-bottom: 0;
}
.el-tabs__nav-wrap:after {
  display: none;
}
.el-card {
  border: none;
}

.el-menu {
  border-right: 0;
}
.el-dialog .el-dialog__header {
  background: #056d6b;
}
.el-dialog__title {
  color: #fff;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}
.el-dialog .el-dialog__footer {
  background: #f0f3f3;
  padding: 15px;
}

.el-message-box {
  border: none;
}
.el-message-box__header {
  height: 40px;
  background: #056d6b;
  display: flex;
  align-items: center;
}
.el-message-box__title {
  color: #fff;
}
.el-message-box__headerbtn .el-message-box__close {
  color: #fff;
}
